/* ==========
 HEADER
 ========== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0 6.4%;
  height: 4.375rem;
  width: 100%;
  position: relative;
  z-index: 1000;
}

header.sticky {
  position: fixed;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow for the sticky effect */
  background-color: #fff; /* You can customize the background color */
  width: 100%;
  animation: none; /* Remove animation for sticky header */
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.menu-btn {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  outline: none;
}

.menu-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ==========
 NAVIGATION
 ========== */
nav {
  position: absolute;
  top: 4.375rem;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  z-index: 1000;
  transform: translateX(1000px);
  opacity: 0;
}

ul {
  list-style-type: none;
}

.desktop-nav {
  display: none;
}

.mobile-nav__container {
  height: 100%;
  min-height: 100vh;
  text-align: center;
}

.mobile-nav__container img {
  margin: 0 auto;
}

.text-logo__mobile-nav {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  margin: -2rem auto 2rem;
}

.mobile-nav li a {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
