.service-section {
  margin: 0 auto;
  background: #fff;
  padding: 4rem 0;
}

.service-section h2 {
  font-size: 2.5rem;
  text-align: center;
}

.services__cards-container {
  margin-bottom: 4rem;
}

.service__contact-section {
  width: 87.2%;
  margin: 0 auto;
  text-align: center;
}

.service__contact-section p {
  margin-bottom: 2rem;
}

/* SERVICE CARDS */

.services__cards-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* .service-card {
  opacity: 0;
} */

.service-card__text-container {
  text-align: center;
}

.service-title {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -1.5rem 0 0.5rem;
}

.service-card__icon {
  margin: 0 auto;
}

.service-card p {
  padding: 0 6.4%;
  opacity: 0.6;
}

@media (min-width: 48rem) {
  .services__cards-container {
    max-width: 37.5rem;
    margin: 0 auto 4rem auto;
  }
}
