.service-section {
  margin: 0 auto;
  background: #fff;
  padding: 4rem 0;
}

.service-section h2 {
  font-size: 2.5rem;
  text-align: center;
}

.services__cards-container {
  margin-bottom: 4rem;
}

.service__contact-section {
  width: 87.2%;
  margin: 0 auto;
  text-align: center;
}

.service__contact-section p {
  margin-bottom: 2rem;
}

/* SERVICE CARDS */

.services__cards-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.service-section__intro {
  display: none;
}

.service-card__text-container {
  text-align: center;
}

.service-title {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -1.5rem 0 0.5rem;
}

.service-card__icon {
  margin: 0 auto;
}

.service-card p {
  padding: 0 6.4%;
  opacity: 0.6;
}

/* ===== Slideshow ===== */
.slideshow {
  width: 100%;
  height: 18.75rem;
  margin-bottom: 4rem;
}

.slideshow-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 48rem) {
  .service-section {
    width: 100%;
    padding: 6rem 11.4583333333%;
  }

  .services__filter {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 0;
  }

  .service-section h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .service-section__intro {
    display: block;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 3rem auto;
  }

  /* SERVICE CARDS */

  .services__cards-container {
    background-image: url("./../../public/assets/services/services-bg-img.png");
    background-size: cover;
    width: 100%;
    max-width: unset;
    margin: 0 0 2rem 0;
    gap: 0;
    padding: 2rem 0 4rem;
    position: relative;
  }

  .service-card {
    color: #000;
    width: 40%;
    margin: 0 auto;
  }

  .service-title {
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .service-card p {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
  }

  .slideshow {
    display: none;
  }
}
