@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "./../components/Header/styles.css";
@import "./../components/Hero/styles.css";
@import "./../components/About/styles.css";
@import "./../components/Reviews/styles.css";
@import "./../components/Services/styles.css";
@import "./../components/ImageDivider/styles.css";
@import "./../components/Testimonial/styles.css";
@import "./../components/Footer/styles.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent; /* Remove tap highlight on iOS */
  -webkit-touch-callout: none; /* Disable callout on iOS */
  -webkit-user-select: none; /* Disable selection on iOS */
  -moz-user-select: none; /* Disable selection on Firefox */
  -ms-user-select: none; /* Disable selection on IE/Edge */
  user-select: none;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: #fafafa;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.cta-btn {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 1rem 3rem;
  color: #fff;
  background: rgb(233, 159, 68);
  border: none;
  outline: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  margin: 0 auto;
}

.highlight__orange {
  color: #f7d05a;
}

/* ==========
 ANIMATIONS
 ========== */

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
